@using Domain.Models
@using static Domain.Constants.Constants
@model List<Domain.Models.Material>
@{
    ViewData["Title"] = "ListMaterial";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="container-fluid">
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="mt-0 header-title">Materyal Listesi</h4>
                    <p class="sub-title">
                    </p>

                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Kayıt Tarihi</th>
                                <th>Güncelleme Tarihi</th>
                                <th>Durumu</th>
                                <th>Materyal</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Material material in Model)
                            {
                                <tr>
                                    <td>@material.Id</td>
                                    <td>@material.InsertionDate</td>
                                    <td>@material.UpdateDate</td>
                                    <td>@material.Status</td>
                                    <td>@material.Name</td>
                                    <th>
                                        @if (material.Status == StatusCodes.Active)
                                        {
                                            <a asp-controller="Material" asp-action="DeleteMaterial" asp-route-Id="@material.Id"><i class="dripicons-document-delete"></i></a>
                                        }
                                    </th>
                                    <th><a asp-controller="Material" asp-action="UpdateMaterial" asp-route-Id="@material.Id"><i class="fas fa-edit"></i></a></th> 
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

</div>
<!-- end container-fluid -->